@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  /* HEIGHT  */
  --height-header: 88px;
  --height-button: 38px;
  --height-input: 48px;
  --height-input: 48px;
  --height-input-sm: 36px;
  --height-bottom-menu: 70px;
  --height-table-cell: 42px;

  /* WIDTH  */
  --width-button: 157px;
  --width-sidebar: 254px;
  --width-table-cell: 112.8px;
  
  /* SPACING  */
  --spacing-button: 10px;
  
  /* PADDING  */
  --padding-button: 8px 16px;
  --padding-sidebar-safe-area: 254px;
  --padding-bottom-menu-safe-area: 70px;
  --padding-container: 0px 20px;
  
  /* SHADOW  */
  --shadow-button: 0px 1px 1px 0px rgba(0, 0, 0, .2);
  --shadow-input: 0px 0px 10px 0px rgba(0, 0, 0, .10);
  --shadow-table: 0px 1px 1px 0px rgba(0, 0, 0, .04);
  
  /* RADIUS  */
  --radius-button: 4px;
  --radius-card: 12.35px;
  --radius-table: 6px;

/*  TEXT  */
  --text-h1-lg: 20px;
  
  --text-body: 14px;
  --leading-body: 22px;

  --text-button: 14px;

  --text-small: 12px;
  --leading-small: 16px;

  /*  COLORS  */

  /* GRAY COLOR  */
    --color-GRAY-50: #f6f6f6;
    --color-GRAY-100: #f5f5f5;
    --color-GRAY-200: #d1d1d1;
    --color-GRAY-300: #b0b0b0;
    --color-GRAY-400: #888888;
    --color-GRAY-500: #6d6d6d;
    --color-GRAY-600: #5d5d5d;
    --color-GRAY-700: #4f4f4f;
    --color-GRAY-800: #4f4f4f;
    --color-GRAY-900: #3d3d3d;
    --color-GRAY-950: #1f1f1f;

  /* RED COLOR */
    --color-RED-50: #fef2f2;
    --color-RED-100: #ffe1e1;
    --color-RED-200: #ffcac9;
    --color-RED-300: #fea4a3;
    --color-RED-400: #fc6f6d;
    --color-RED-500: #f4413f;
    --color-RED-600: #e12321;
    --color-RED-700: #b01816;
    --color-RED-800: #9c1a18;
    --color-RED-900: #821b1a;
    --color-RED-950: #470908;
  
    /* YELLOW COLOR */
    --color-YELLOW-50: #fffeea;
    --color-YELLOW-100: #fffac5;
    --color-YELLOW-200: #fff685;
    --color-YELLOW-300: #ffea46;
    --color-YELLOW-400: #ffdb1b;
    --color-YELLOW-500: #ffbb00;
    --color-YELLOW-600: #e29000;
    --color-YELLOW-700: #bb6502;
    --color-YELLOW-800: #984e08;
    --color-YELLOW-900: #7c400b;
    --color-YELLOW-950: #482100;
  
    /* GREEN COLOR */
    --color-50: #ecfdf3;
    --color-100: #d1fae0;
    --color-200: #a7f3c7;
    --color-300: #6ee7a9;
    --color-400: #34d386;
    --color-500: #10b96d;
    --color-600: #059658;
    --color-700: #047849;
    --color-800: #065f3c;
    --color-900: #064e33;
    --color-950: #022c1d;

  --color-ORANGE: #ee6002;

  
  /*  KEYFRAMES  */
  --animate-full-rotation: full-rotation 0.4s linear;

  @keyframes full-rotation {
    0% {
      transform: rotate(0deg)
    }
    100% {
      transform: rotate(360deg)
    }
  }
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Inter', sans-serif;
  }
}

/*  FONT CONFIG */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}